<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="imgMine" value="../../"/>
		<add key="boardWidth" value="8"/>
		<add key="squareSize" value="20"/>
		<add key="pnlInfoHeight" value="40"/>
	</appSettings>
</configuration>
