<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MineSweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="imgMine" value="../../"/>
		<add key="boardWidth" value="8"/>
		<add key="squareSize" value="20"/>
		<add key="pnlInfoHeight" value="40"/>
	</appSettings>
	<userSettings>
		<MineSweeper.Properties.Settings>
   <setting name="BegRecord" serializeAs="String">
    <value>999</value>
   </setting>
   <setting name="InterRecord" serializeAs="String">
    <value>999</value>
   </setting>
   <setting name="ExpertRecord" serializeAs="String">
    <value>999</value>
   </setting>
   <setting name="Level" serializeAs="String">
    <value>0</value>
   </setting>
  </MineSweeper.Properties.Settings>
	</userSettings>
</configuration>
